*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/********** HEADER *********/
.header{
    background-image: url(../images/red-guitar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.nav-bg{
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0.6), rgba(0,0,0,.1));
}
.custom-p{
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(49, 49, 49);
}

/************ MAIN **********/
/*********** SECTION-2 ***********/
.art{
    background-image: url(../images/singer.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.art-btn{
    color: white;
    font-size: 30px;
    padding: 15px;
    background-color: red;
    border-radius: 50%;
}
/*********** SECTION-4 ***********/
 .ios{
    background-image: linear-gradient(to right,#110F10, #0F0D10);
  }
.logo{
    font-size: 80px;
}
/*********** SECTION-7 ***********/
.events{
    background-image: url(../images/promo.jpg);
    background-position: center;
    background-attachment: fixed;
}
/*********** SECTION-8 ***********/
.meet{
    background-color: #242B35;
}
.meet-back{
    background-image: url(../images/back-ptn.png);
}


/*********** Footer **********/
.footer-p{
    font-size: 14px;
}